app = "datumhub"
primary_region = "ams"

[build]

[env]
  DATUMHUB_DB = "/data/datumhub.db"

[mounts]
  source = "datumhub_data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
